# Ambientes Virtuais
venv/
.venv/

# Arquivos para chaves de API
.env
*.env

# Cache e logs do Python
__pycache__/
*.pyc
.pytest_cache/
build/
dist/
*.log

# Arquivos de IDE (ex: VSCode)
.vscode/

# Arquivos de OS (ex: macOS)
.DS_Store